<div class="row">
    <div class="col-md-1"></div>
    <!--<div class="col-md-3 col-12">
        <app-product-filter [forValue]="forValue"></app-product-filter>
    </div>-->
    <div class="col-md-10">
        <div class="row" *ngIf="cart$ | async as cart">
            <ng-container *ngFor="let p of filteredProducts;">
                <div class="col-xl-3 col-md-4 col-6">
                    <app-product-card [product]="p" [shoppingCart]="cart"></app-product-card>
                </div>
            </ng-container>
        </div>
    </div>
</div>