.dropdown-toggle {
    cursor: pointer;
}

.logo {
    width: 10vw;
    padding: 0;
}

.nav-link {
    padding-bottom: 0;
    margin-bottom: -0.5rem;
}

@media screen and (max-width: 576px) {
    .logo {
        width: 18vw;
    }
    .hide-items {
        display: none;
    }
    .menu-items {
        padding-top: 10px;
        font-weight: bold;
        color: #818181e7;
    }
    .bg-light {
        background-color: #F8F8F8 !important;
        border-color: #E7E7E7;
    }
}

@media screen and (min-width: 576px) {
    .mid-icon {
        border: 1px solid #ddd;
        border-top: none;
        border-bottom: none;
    }
    .hide-for-big {
        display: none;
    }
}

.searchBox {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: 1px solid #ccc;
    border-right: none;
    width: 25vw;
    background: #eeeeee;
    height: 3vw;
}

.searchBtn {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #eeeeee;
    font-size: 17px;
    border: 1px solid #ccc;
    border-left: none;
    cursor: pointer;
    height: 3vw;
    border-radius: 0px 5px 5px 0px;
}

.searchBtn:focus {
    outline: none;
}

.searchBtn:active {
    outline: none;
    background: #ccc;
}

.searchBox:focus {
    background: white;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}


/*.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/


/*pointer-events: none;
}*/

#userDropdown .dropdown-menu {
    margin-top: 1.8vw;
    padding: 1vw 0px;
    box-shadow: 0 0 3px 2px rgb(230, 230, 230);
}