@import "~theme.scss";
.dropdown-toggle {
    cursor: pointer;
}

.navbar .dropdown-menu a {
    margin-bottom: -12px;
}

.dropdown-item {
    background: transparent !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: $nav-font-color;
}

.logo {
    width: 10vw;
    padding: 0;
}

.nav-link {
    //padding-bottom: 0;
    //margin-bottom: -0.5rem;
    margin-right: 10px;
    padding-bottom: 14px;
    margin-bottom: -1.7rem;
}

.searchBox {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: 1px solid $nav-font-color;
    border-right: none;
    width: 25vw;
    background: #eeeeee;
    height: 3vw;
    color: $nav-font-color;
}

.searchBtn {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #eeeeee;
    font-size: 17px;
    border: 1px solid $nav-font-color;
    border-left: none;
    cursor: pointer;
    height: 3vw;
    border-radius: 0px 5px 5px 0px;
}

.searchBtn:focus {
    outline: none;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.searchBtn:active {
    outline: none;
    background: #ccc;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.showBarRed {
    border-bottom: 3px solid red;
    padding-bottom: 10px;
}

.showBarPink {
    border-bottom: 3px solid #ff38b9;
    padding-bottom: 10px;
}

#userDropdown .dropdown-menu {
    margin-top: 2.1vw;
    padding: 1vw 0px;
    box-shadow: 0 0 3px 2px rgb(230, 230, 230);
}

.leftGap {
    margin-left: 11%;
}

.categoryHeaderMen {
    font-size: 15px;
    color: #e80000;
}

.categoryHeaderWomen {
    font-size: 15px;
    color: #ff38b9;
}

.dropdown-header {
    padding-left: 0;
}

.dropdown-menu {
    background-color: $secondary-color-light;
}