<div class="row">
    <div class="col-6">
        <form #f="ngForm" (ngSubmit)="save()">
            <div class=" form-group ">
                <label for="brand">Brand Name</label>
                <input #brand="ngModel" [(ngModel)]="product.brand" name="brand" id="brand" type="text" class="form-control" required>
                <div class="alert alert-danger" *ngIf="brand.touched && brand.invalid">
                    Brand name is required.
                </div>
            </div>
            <div class=" form-group ">
                <label for="title">Title</label>
                <input #title="ngModel" [(ngModel)]="product.title" name="title" id="title" type="text" class="form-control" required>
                <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
                    Title is required.
                </div>
            </div>
            <div class="form-group ">
                <label for="price">Price</label>
                <div class="input-group ">
                    <div class="input-group-prepend ">
                        <span class="input-group-text">₹</span>
                    </div>
                    <input #price="ngModel" [(ngModel)]="product.price" name="price" id="price" type="number " class="form-control" required [min]="1">
                </div>
                <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
                    <div *ngIf="!price.errors.required">Price should be greater or equal to 1.</div>
                    <div *ngIf="!price.errors.min">Price is required.</div>

                </div>
            </div>

            <div class="form-group">
                <label for="for">For</label>
                <select #for="ngModel" [(ngModel)]="product.for" (change)="forSelected($event.target.value)" name="for" id="for" class="form-control" required>
                    <option *ngFor="let f of for$ | async" [value]="f.$key">{{ f.name }}</option>
                </select>
                <div class="alert alert-danger" *ngIf="for.touched && for.invalid">
                    For is required.
                </div>
            </div>

            <div class="form-group">
                <label for="category">Category</label>
                <select #category="ngModel" [(ngModel)]="product.category" (change)="categorySelected($event.target.value)" name="category" id="category" class="form-control" required disabled>
                    <option *ngFor="let c of categories$ | async" [value]="c.$key">{{ c.name }}</option>
                </select>
                <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
                    Category is required.
                </div>
            </div>

            <div class="form-group">
                <label for="subCategory">Sub Category</label>
                <select #subCategory="ngModel" [(ngModel)]="product.subCategory" name="subCategory" id="subCategory" class="form-control" required disabled>
                    <option *ngFor="let sc of subCategory$ | async" [value]="sc.$key">{{ sc.name }}</option>
                </select>
                <div class="alert alert-danger" *ngIf="subCategory.touched && subCategory.invalid">
                    Sub Category is required.
                </div>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea #description="ngModel" [(ngModel)]="product.description" name="description" id="description" rows="10" class="form-control" required>{{ product.description }}</textarea>
                <div class="alert alert-danger" *ngIf="description.touched && description.invalid">
                    Description is required.
                </div>
            </div>

            <div class="form-group ">
                <label for="coverImage">Upload Cover Image</label>
                <input type="file" #coverImage (change)="photoSelected($event, 'coverImage')" class="form-control-file" accept="image/*" name="coverImage" id="coverImage" required>
                <div class="alert alert-danger" *ngIf="coverImage.touched && coverImage.invalid">
                    Cover image is required.
                </div>
            </div>

            <div class="form-group">
                <label for="imageUrl">Upload Image</label>
                <input type="file" #imageUrl multiple (change)="photoSelected($event, 'images')" class="form-control-file" accept="image/*" name="imageUrl" id="imageUrl" required disabled>
                <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
                    Select atleast one Image.
                </div>
            </div>

            <button [disabled]="f.invalid" class="btn btn-primary">Save</button>
            <button *ngIf="id" type="button" (click)="delete()" class="btn btn-danger">Delete</button>

        </form>
    </div>

    <div class="col-6">
        <div *ngIf="product.title" class="card">
            <img class="card-img-top" [src]="product.imageUrl" *ngIf="product.imageUrl">
            <div class="card-body">
                <h4 class="card-title">{{ product.title }}</h4>
                <p *ngIf="product.price" class="card-text">{{ product.price | currency:"INR":true }}</p>
            </div>
        </div>
    </div>
</div>