@import "~theme.scss";
@media screen and (max-width: 576px) {
    .logo {
        width: 18vw;
    }
    .menu-items {
        padding-top: 10px;
        font-weight: bold;
        color: #818181e7;
    }
    .bg-light {
        background-color: #F8F8F8 !important;
        border-color: #E7E7E7;
    }
}

nav {
    z-index: 0;
}


/* The side navigation menu */

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 3;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: $primary-color;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 10px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav a {
        font-size: 18px;
    }
}