$primary-color: #08d4a1;
$primary-color-dark: #00a176;
$primary-color-light: #54fde1;
$secondary-color: #e0f2f1;
$secondary-color-dark: #696969;
$secondary-color-light: #f7fcfb;
$nav-font-color: #353535;